.button{
    padding: 0.5em 1.5em;

    font-size: 1.1em;
    border-radius: 5px;

    transition-duration: 0.2s;

    cursor: pointer;

    flex-shrink: 1;

}

.button--primary{
    border-style: none;
    background-color: var(--primary-color);
    color: white;
}

.button--primary:hover{
    background-color: var(--primary-hover-color);
}

.button--primary:active{
    background-color: var(--primary-active-color);
}

.button--secondary{
    border-style: solid;
    border-color: #8b00ff;
    background-color: white;
    color: #8b00ff;
}

.button--secondary:hover{
    background-color: #7101cb;
    color: white;
}

.button--secondary:active{
    background-color: #490085;
}