
.a0{
    display: none !important;
}

@media (max-width: 767px) {
    .xs0{
        display: none !important;
    }
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) and (max-width: 991px) {
    .s0{
        display: none !important;
    }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .m0{
        display: none !important;
    }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
    .l0{
        display: none !important;
    }
}